.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: transparent;
}

.main-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  background-color: transparent;
}
