.date-display-container {
  display: flex;
  align-items: center;
  color: white;
  font-family: sans-serif;
  font-size: 16px;
}

.date-info {
  text-align: right;
  margin-right: 1rem;
}

.date-info p {
  margin: 0;
}

.update-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.refresh-button {
  #background-color: #4CAF50;
  color: white;
  border: none;
  #padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 5px;
}

.update-info p {
  margin: 0;
  font-size: 12px;
}
