
html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: transparent;
}

body {
  background: url('/planet-3403606_1920.jpg') no-repeat center center fixed;
  background-size: cover;
  overflow: hidden;
}

.leaflet-tooltip.transparent-tooltip {
  background: transparent;
  border: none;
  box-shadow: none;
  color: white;
  font-weight: bold;
  font-size: 14px;
  text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
}

.leaflet-tooltip.transparent-tooltip::before {
    content: none;
}
