.spotify-container {
    position: absolute;
    bottom: 80px;
    right: 20px;
    width: 300px;
    height: 390px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    background-color: #282828;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  .spotify-iframe {
    border: none;
    border-radius: 10px;
  }
  